<settings>

	<!-- <setting propertyKey="@Properties.Use12Hour" title="@Strings.Use12HourTitle">
		<settingConfig type="boolean"/>
	</setting>
	
	<setting propertyKey="@Properties.Imperial" title="@Strings.ImperialTitle">
		<settingConfig type="boolean"/>
	</setting> -->

    <setting propertyKey="@Properties.HourColor" title="@Strings.HourColorTitle">
        <settingConfig type="list">
            <listEntry value="0x00FF00">@Strings.ColorGreen</listEntry>
            <listEntry value="0xFF0000">@Strings.ColorRed</listEntry>
            <listEntry value="0xFFFFFF">@Strings.ColorWhite</listEntry>
            <listEntry value="#0452cf">@Strings.ColorDarkBlue</listEntry>
            <listEntry value="#40c9ff">@Strings.ColorLightBlue</listEntry>
            <listEntry value="#f2f07c">@Strings.ColorYellow</listEntry>
            <listEntry value="#e029e3">@Strings.ColorPink</listEntry>
            <listEntry value="#7329e3">@Strings.ColorPurple</listEntry>
        </settingConfig>
    </setting>
    
    <setting propertyKey="@Properties.MinutesColor" title="@Strings.MinutesColorTitle">
        <settingConfig type="list">
            <listEntry value="0x00FF00">@Strings.ColorGreen</listEntry>
            <listEntry value="0xFF0000">@Strings.ColorRed</listEntry>
            <listEntry value="0xFFFFFF">@Strings.ColorWhite</listEntry>
            <listEntry value="#0452cf">@Strings.ColorDarkBlue</listEntry>
            <listEntry value="#40c9ff">@Strings.ColorLightBlue</listEntry>
            <listEntry value="#f2f07c">@Strings.ColorYellow</listEntry>
            <listEntry value="#e029e3">@Strings.ColorPink</listEntry>
            <listEntry value="#7329e3">@Strings.ColorPurple</listEntry>
        </settingConfig>
    </setting>

    <setting propertyKey="@Properties.HourFilled" title="@Strings.HourFilledTitle">
        <settingConfig type="boolean" />
    </setting>
    
    <setting propertyKey="@Properties.MinutesFilled" title="@Strings.MinutesFilledTitle">
        <settingConfig type="boolean" />
    </setting>
    
    <setting propertyKey="@Properties.DisplaySeconds" title="@Strings.DisplaySecondsTitle">
    	<settingConfig type="boolean"/>
    </setting>
    
    <!-- <setting propertyKey="@Properties.AccentColor" title="@Strings.AccentColorTitle">
        <settingConfig type="list">
            <listEntry value="0x00FF00">@Strings.ColorGreen</listEntry>
            <listEntry value="0xFF0000">@Strings.ColorRed</listEntry>
            <listEntry value="0xFFFFFF">@Strings.ColorWhite</listEntry>
            <listEntry value="#0452cf">@Strings.ColorDarkBlue</listEntry>
            <listEntry value="#40c9ff">@Strings.ColorLightBlue</listEntry>
            <listEntry value="#f2f07c">@Strings.ColorYellow</listEntry>
            <listEntry value="#e029e3">@Strings.ColorPink</listEntry>
            <listEntry value="#7329e3">@Strings.ColorPurple</listEntry>
        </settingConfig>
    </setting>  -->
    
</settings>